/*=============== Mobile Device Media Quary ============================ */



@media only screen and (max-width: 590px){


    /* ========================Nav bar================== */

    *p{
        color: rgba(255, 255, 255, 0.5);
    }    

   #why-box{
    display: grid;
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
   }
  
   
    .nav-bar {
        align-items: center;
    }
    .fa-solid{
        display: block;
        font-size: 2rem;
        color: #ffffff;
    }
    .nav-items {
        display: none;
    }
    .brand {
        font-size: 4rem;
    }
    

    /* ---==================Banner part start=================== */


    .half-width {
          width:400px;
          margin-bottom: 50px;
          flex-direction: column;
          border: 2px solid salmon;
        }
    .half-width h1 {

        font-weight: bold;
        font-size: 60px;
        line-height: 50px;
        color: #ffffff;
        padding-bottom: 20px;
        font-family: Inter;
        }
    .half-width p{
        font-family: Inter;
    }    
    .half-width img{
        width: 100%;
        }
    .banner-parent{
        align-items: flex-start;
        flex-direction: column;
      }
    .btn-banner{
        display: flexbox;
        grid-column-start: auto;
        justify-content:left;
        height: 100px;
        gap: 50px;
    }

          /* -===================Change habit part=============== */
   
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;
        text-align: left;       
    }
    .title{
        display:grid;
        gap: 30px;
        width: 100%;
    }
    
        /* =================run a extra mile====================== */

    .globall{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .half-widthh img{
        width: 100%;
        margin: auto;
    }

    /* ====================BMI=================================== */

    .bmi-main-contenar {
        flex-direction: column;
        gap: 30px;
    }

    .bmi-cal input,
    select {
        padding: 14px 0px;
        width: 100%;
    }
    .bmi-chart-contenar{
       margin-left: 100px;
    }

    .bmi-header-title {
        font-size: 2rem;

    }

    .bmi-cal-contenar {
        max-width: 90%;
        margin: 0 auto;
    }

    .bmi-cal-header {
        max-width: 90%;
    }

    .bmi-cal {
        gap: 15px;

    }

    /* ===================Meet our team========================= */

    .container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;
    }
    

    .title-team{
        display:grid;
        gap: 30px;
        width: 100%;
        justify-items:center;
        justify-content: center;
        text-align: center;
    }


    /* ==========================Footer============================ */

    .footer-contenar {
        flex-direction: column;
    }
    .footer-brand-info {
        max-width: 420px;
        
    }


}